{% extends 'base.html' %}
{% block title %} Contact Page {% endblock %}
{% block content %}
{% load static %}


 

<div class="clearfix"></div>




<section class="contact">




  <div class="container-fluid">


    <div class="row">

      {% include 'admin_sidemenu.html' %}
      <div class="col-md-10 bg_color">
     
     
            
        
     
        <div class="home_content_area">
            

            <div id="box-list">
                <div class="box">
                  <div>
                
                  {% if user.is_authenticated %}
                    <h2>Applied Jobs</h2>
                    <h1>00{{ applied_jobs_count }}</h1>              
                  {% endif %}

                    <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                  </div>  
                    <div class="card-bx"><span class="card"><span class="mdi mdi-briefcase-variant-outline"></span></span></div>  
                </div>
                <div class="box">
                  <div>
                    <h2>Shortlisted</h2>
                    <h1>00</h1>
                    <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                  </div>  
                    <div class="card-bx"><span class="card"><span class="mdi mdi-bookmark-outline"></span></span></div>  
                </div>
                <div class="box">
                  <div>
                    <h2>Views</h2>
                    <h1>00</h1>
                    <span class="day-details"><i class='bx bx-up-arrow-alt'></i>Up&nbsp;form&nbsp;yesterday</span>
                  </div>  
                    <div class="card-bx"><span class="card"><span class="mdi mdi-monitor-eye"></span></span></div>  
                </div>
                <div class="box">
                  <div>
                    <h2>Review</h2>
                    <h1>00</h1>
                    <span class="day-details"><i class='bx bx-down-arrow-alt'></i>Down&nbsp;From&nbsp;Today</span>
                  </div>  
                    <div class="card-bx"><span class="card">
                      <span class="mdi mdi-comment-text-multiple"></span></span></div>
                </div>
              </div>

        </div>
         
               
       

        <!-- <main class="container">
            <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm"> 
              <div class="lh-1">
                <h1 class="h6 mb-0 text-white lh-1">Recent updates and</h1>
                <small>Suggestions</small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
              <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
              <div class="d-flex text-body-secondary pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                </p>
              </div>
              <div class="d-flex text-body-secondary pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Some more representative placeholder content, related to this other user. Another status update, perhaps.
                </p>
              </div>
              <div class="d-flex text-body-secondary pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                  <strong class="d-block text-gray-dark">@username</strong>
                  This user also gets some representative placeholder content. Maybe they did something interesting, and you really want to highlight this in the recent updates.
                </p>
              </div>
              <small class="d-block text-end mt-3">
                <a href="#">All updates</a>
              </small>
            </div>
          </div>
            <div class="col-md-6">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
              <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>
              <div class="d-flex text-body-secondary pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                  <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                  </div>
                  <span class="d-block">@username</span>
                </div>
              </div>
              <div class="d-flex text-body-secondary pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                  <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                  </div>
                  <span class="d-block">@username</span>
                </div>
              </div>
              <div class="d-flex text-body-secondary pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                  <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">Full Name</strong>
                    <a href="#">Follow</a>
                  </div>
                  <span class="d-block">@username</span>
                </div>
              </div>
              <small class="d-block text-end mt-3">
                <a href="#">All suggestions</a>
              </small>
            </div>
          </div>
          </main> -->

      </div>

    </div>
  </div>
</section>




{% endblock %}
